// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light:#f8f9fa;
$black: #000000;


// My-Colors
$cloudy: #EEEEEE;
$lighten: #787A91;
$shallow: #141E61;
$deep: #0F044C;

// My-vars
$navi-height: 5rem;
$svg-icon-wh: 1rem;
$svg-icon-m: 0.5rem;